In [14]:
import pandas as pd
import requests
import unicodedata
exec(requests.get('https://raw.githubusercontent.com/ma-ji/RICF/master/ricf_oid/ricf_lookup.py').text)

### 2013_basic_profile.

In [15]:
df_13_basic=pd.read_csv('../../2013/2013_basic_profile.tsv', sep='\t', header=1).rename(columns={'ricf_oid':'ricf_oid_2013'})
df_13_basic.sample(3)

,ricf_oid_2013,ba_rdt,ba_cn,ba_en,ba_rid,ba_org,ba_msn,ba_srv,ba_ntr,ba_rng,...,ba_po,ba_ai,ba_ap,ba_hr,ba_nc,ba_fr,ba_tr,ba_rcp,ba_mt,ba_trn
2775,2776,2013,福建省亚通助学助残基金会,Fujian Yatong Foundation for Student Gran,基证字第8104号,69194071-1,扶贫支教，帮困助残，推动教育发展和社会和谐。,接受捐赠、筹集资金，扶贫支教，帮困助残以及与教育相关的公益活动。,非公募,地方,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3305,3306,2013,黑龙江中医药大学教育发展基金会,Heilongjiang University of Chinese Medici,黑基证字第0046号,578681842,遵守中华人民共和国宪法、法律、法规和国家政策，遵守社会道德风尚，为社会公益事业服务。推动黑龙...,募集、管理、运作基金；资助黑龙江中医药大学的建设与发展项目,非公募,地方,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2969,2970,2013,贵州省扶贫基金会,Guizhou Foundation for Poverty Alleviation,黔基证字第0002号,77058241-4,遵守国家法律法规和基金会管理条例，促进社会力量参与公益事业，募集资金，扶贫济困，赈灾救灾，为...,组织社会募捐活动，募集和引进扶贫资金、物资，管好用好社会善款，组织实施扶贫开发项目和赈灾济困...,公募,地方,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,地税税黔字520190770582414

In [16]:
for index in df_13_basic.index:
    ba_cn=unicodedata.normalize('NFKC', df_13_basic.loc[index, 'ba_cn'])
    ricf_oid=ricf_lookup(foundation_name=ba_cn)['ricf_oid']
    nacao_uscc=ricf_lookup(foundation_name=ba_cn)['nacao_uscc']
    df_13_basic.loc[index, 'ricf_oid']=ricf_oid
    df_13_basic.loc[index, 'ba_uscc']=nacao_uscc

In [17]:
df_13_basic.sample(3)

,ricf_oid_2013,ba_rdt,ba_cn,ba_en,ba_rid,ba_org,ba_msn,ba_srv,ba_ntr,ba_rng,...,ba_ap,ba_hr,ba_nc,ba_fr,ba_tr,ba_rcp,ba_mt,ba_trn,ricf_oid,ba_uscc
2332,2333,2013,海南南学怀瑾文化基金会,Hainan Nanhuaijin Culture Foundation,(琼)登记批准基字[2013]第201307号,75731772,NaN,NaN,非公募,地方,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2333,NaN
3169,3170,2013,陕西存义公益基金会,Shaanxi Cunyi Charitable Foundation,陕基证字第68-F号,598761671,NaN,NaN,非公募,地方,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3170,53610000598761671Y
2244,2245,2013,浙江海亮慈善基金会,Zhejiang Hailiang Charity Foundation,浙基证字第52033号,50188359-3,发扬国人传统，发展慈善事业，救助生活困难群体。,1、因病、灾、祸，造成生活特别困难的救助； 2、因年老无子女，生活困难的孤寡老人的赡养； ...,非公募,地方,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2245,533300005018835938

In [24]:
df_13_basic.to_csv('../../2013/2013_basic_profile.tsv', sep='\t', index=False, encoding='utf8')

### 2013_activities_overview

In [20]:
df_13_activities=pd.read_csv('../../2013/2013_activities_overview.tsv', sep='\t', header=1).rename(columns={'ricf_oid':'ricf_oid_2013'})
df_13_activities.sample(3)

,ricf_oid_2013,ba_cn,fp_dt,ao_ad,ao_dd,ao_ddc,ao_ddi,ao_od,ao_odn,ao_odi,...,ao_cc,ao_slr,ao_adex,ao_did,ao_dn,ao_dcae,ao_ncae,ao_dcan,ao_ncan,ao_use
709,787,南京市溧水县见义勇为基金会,2013,0.00,0.00,0.00,0.0,0.0,0.0,0.0,...,68700.00,0.0,36400.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1519,1756,无锡华地慈善基金会,2013,2338069.82,2338069.82,2238069.82,100000.0,0.0,0.0,0.0,...,567751.00,0.0,15782.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN
858,946,周培源基金会,2013,3576542.00,3576542.00,6542.00,3570000.0,0.0,0.0,0.0,...,1000248.47,34500.0,52744.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
for index in df_13_activities.index:
    ba_cn=unicodedata.normalize('NFKC', df_13_activities.loc[index, 'ba_cn'])
    ricf_oid=ricf_lookup(foundation_name=ba_cn)['ricf_oid']
    nacao_uscc=ricf_lookup(foundation_name=ba_cn)['nacao_uscc']
    df_13_activities.loc[index, 'ricf_oid']=ricf_oid
    df_13_activities.loc[index, 'ba_uscc']=nacao_uscc

In [23]:
df_13_activities.sample(3)

,ricf_oid_2013,ba_cn,fp_dt,ao_ad,ao_dd,ao_ddc,ao_ddi,ao_od,ao_odn,ao_odi,...,ao_adex,ao_did,ao_dn,ao_dcae,ao_ncae,ao_dcan,ao_ncan,ao_use,ricf_oid,ba_uscc
2700,3279,韩美林艺术基金会,2013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,24711.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3279,53100000717835427K
1904,2235,浙江文昕关爱老人基金会,2013,300000.0,300000.0,0.0,300000.0,0.0,0.0,0.0,...,372395.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2235,53330000A93376666W
980,1100,天津市赵以成医学科学基金会,2013,2840000.0,2840000.0,0.0,2840000.0,0.0,0.0,0.0,...,35317.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1100,53120000058702769N

In [25]:
df_13_activities.to_csv('../../2013/2013_activities_overview.tsv', sep='\t', index=False, encoding='utf8')

### 2013_cash_flow

In [26]:
df_13_cash=pd.read_csv('../../2013/2013_cash_flow.tsv', sep='\t', header=1).rename(columns={'ricf_oid':'ricf_oid_2013'})
df_13_cash.sample(3)

,ricf_oid_2013,ba_cn,fp_dt,cf_doc,cf_soc,cf_srvc,cf_proc,cf_govc,cf_otca,cf_atci,...,cf_leca,cf_tfc,cf_tfic,cf_bopc,cf_inpc.1,cf_ofc,cf_tfoc,cf_nfl,cf_exch,cf_ninc
753,832,南昌市汇仁教育基金会,2013,0.0,0.0,0.0,0.0,0.0,9125.78,9125.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1651,1906,江苏华科事业群慈爱基金会,2013,3300000.0,0.0,0.0,0.0,0.0,12516.55,3312516.55,...,0.0,0.0,0.0,1000000.0,0.0,0.0,1000000.0,-1000000.0,0.0,0
2457,2962,贵州省六盘水市老年基金会,2013,200000.0,0.0,0.0,0.0,0.0,509390.27,709390.27,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [27]:
for index in df_13_cash.index:
    ba_cn=unicodedata.normalize('NFKC', df_13_cash.loc[index, 'ba_cn'])
    ricf_oid=ricf_lookup(foundation_name=ba_cn)['ricf_oid']
    nacao_uscc=ricf_lookup(foundation_name=ba_cn)['nacao_uscc']
    df_13_cash.loc[index, 'ricf_oid']=ricf_oid
    df_13_cash.loc[index, 'ba_uscc']=nacao_uscc

In [28]:
df_13_cash.sample(3)

,ricf_oid_2013,ba_cn,fp_dt,cf_doc,cf_soc,cf_srvc,cf_proc,cf_govc,cf_otca,cf_atci,...,cf_tfic,cf_bopc,cf_inpc.1,cf_ofc,cf_tfoc,cf_nfl,cf_exch,cf_ninc,ricf_oid,ba_uscc
1179,1347,山西省汇丰兴业集团公益基金会,2013,0.00,0.0,0.0,0.0,0.0,0.00,0.00,...,5461.19,0.0,793.5,0.0,793.5,4667.69,0.0,0,1347,53140000MJ1632359R
933,1024,四川自贡市教育基金会,2013,40031473.92,0.0,0.0,0.0,0.0,468919.24,40500393.16,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0,1024,53510000789125635R
2631,3159,陆河县振兴教育基金会,2013,4250000.00,0.0,0.0,0.0,0.0,178862.44,4428862.44,...,0.00,0.0,0.0,0.0,0.0,0.00,0.0,0,3159,NaN

In [29]:
df_13_cash.to_csv('../../2013/2013_cash_flow.tsv', sep='\t', index=False, encoding='utf8')

### 2013_fa

In [30]:
df_13_fa=pd.read_csv('../../2013/2013_financial_activities.tsv', sep='\t', header=1).rename(columns={'ricf_oid':'ricf_oid_2013'})
df_13_fa.sample(3)

,ricf_oid_2013,ba_cn,fp_dt,fa_dine,fa_asine,fa_sine,fa_gse,fa_pine,fa_gine,fa_inine,...,fa_otinu,fa_intou,fa_accou,fa_adexu,fa_fuexu,fa_otexu,fa_cotou,fa_etouu,fa_chasu,fa_nechu
1383,1604,广州市番禺区科学技术进步基金会,2013,0.0,0,0.0,NaN,0,0.0,0.0,...,175407.69,195407.69,135500.0,13832.50,0.00,0.00,149332.50,0.0,NaN,46075.19
1376,1597,广州市教育基金会,2013,22200.0,0,0.0,NaN,0,150000.0,0.0,...,2936505.31,3475990.51,3316090.6,361607.43,54658.44,119549.76,3851906.23,0.0,NaN,-375915.72
403,451,内蒙古草原文化保护发展基金会,2013,-100000.0,0,0.0,NaN,0,13000000.0,0.0,...,5687.32,8006887.32,0.0,864229.90,0.00,0.00,864229.90,0.0,NaN,7142657.42

In [31]:
for index in df_13_fa.index:
    ba_cn=unicodedata.normalize('NFKC', df_13_fa.loc[index, 'ba_cn'])
    ricf_oid=ricf_lookup(foundation_name=ba_cn)['ricf_oid']
    nacao_uscc=ricf_lookup(foundation_name=ba_cn)['nacao_uscc']
    df_13_fa.loc[index, 'ricf_oid']=ricf_oid
    df_13_fa.loc[index, 'ba_uscc']=nacao_uscc

In [32]:
df_13_fa.to_csv('../../2013/2013_financial_activities.tsv', sep='\t', index=False, encoding='utf8')